body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resigter{
  align-items: center;
  background-color: #79072d;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #f2f2f7;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 610px;
  height: auto;

  box-shadow: 20px 10px 10px rgb(49, 17, 24);
}
.title {
  color: #180d77;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.subtitle {
  color: #6d1010;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.input-container {
   height: 40px;
  position: relative;
  width: 100%; 
   
}
.ic1 {
  margin-top: 10px;
}
.ic2 {
  margin-top: 15px;
}

.input {
  background-color: #c8cae0;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #0e0c0c;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}
.placeholder {
  color: #7b6565;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}
.input:focus ~ .placeholder {
  color: #dc2f55;
}


.submit {
  background-color: rgb(121, 13, 63);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 8px;

  text-align: center;
  width: auto;
}

.submit:hover {
  background-color: rgb(212, 10, 61);
}

h6{
  color: #c41a36;
}